.cart {
    background: $color_white;
    padding: 25px;
    padding-bottom: 35px;
    position: relative;
    position: fixed;
    bottom: 0;
    right: -110%;
    z-index: 111;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    @extend %transition;

    @include media-lg-min {
        width: 390px;
    }

    &--title {
        font-size: 16px;
        line-height: 20px;
        color: $color_black;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &--close-button {
        position: absolute;
        position: absolute;
        top: 8px;
        right: 5px;
        padding: 14px 20px;
        color: $color_black;
    }

    &--added-product {
        position: relative;
        padding: 25px;
        margin-left: -25px;
        margin-right: -25px;
        background: #F7F7F7;

        &__name {
            font-size: 16px;
            line-height: 22px;
            padding-right: 20px;
            color: $color_black;
            font-weight: 400;
        }

        &__details {
            font-size: 12px;
            line-height: 32px;
            color: #5C5C5C;
            font-weight: 400;
        }

        &__remove {
            position: absolute;
            right: 25px;
            top: 25px;
        }

        &__price {
            font-size: 18px;
            line-height: 32px;
            position: absolute;
            right: 25px;
            bottom: 25px;
        }

        .number-change {
            width: 40%;
            padding: 5px;
            margin-top: 5px;
        }
    }

    &--promo-code-block {
        position: relative;

        &__link {
            font-size: 14px;
            line-height: 24px;
            color: #3D36B2;
            text-decoration: underline;
            margin-top: 20px;
        }

        &__added-code {
            font-size: 12px;
            line-height: 19px;
            color: $color_black;
            padding: 8px 33px 7px 14px;
            border-radius: 20px;
            background: #EFF0FF;
            position: absolute;
            top: 15px;
            right: 0;
            display: none;

            &--close-button {
                position: absolute;
                top: 8px;
                right: 13px;

                &__icon {
                    color: $color_black;
                }
            }
        }

        &__form {
            position: relative;
            display: none;
            margin-top: 35px;
            margin-bottom: 20px;

            label {
                font-size: 16px;
                line-height: 20px;
                color: $color_black;
                font-weight: 500;
            }

            input {
                border-radius: 5px;
                border: 1px solid $color_black;
                padding: 16px 23px;
                padding-right: 65px;
                width: 100%;
                font-size: 14px;
                line-height: 14px;

            }

            button {
                padding: 0;
                font-size: 14px;
                line-height: 14px;
                position: absolute;
                right: 20px;
                bottom: 20px;
                color: #3D36B2;
                text-decoration: underline;
            }
        }
    }

    &--order-summary {
        position: relative;
        margin-top: 50px;

        div {
            position: relative;
        }

        &__title {
            font-size: 16px;
            line-height: 20px;
            color: $color_black;
            padding-bottom: 18px;
            border-bottom: 1px solid #E3E3E3;
        }

        &__down-arrow {
            position: absolute;
            right: 0;
            top: 5px;
            font-size: 12px;
            line-height: 12px;
        }

        &__total-amount-title {
            font-size: 18px;
            line-height: 20px;
            color: $color_black;
            padding-top: 18px;
            font-weight: 500;
        }

        &__total-amount {
            font-size: 18px;
            line-height: 20px;
            color: #24AD73;
            padding-top: 18px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &--checkout-button {
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        width: 100%;
        padding: 18px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        color: $color_white;
        background-image: linear-gradient(45deg, #30296f 0%, #452e85 45.52%, #4d308d 61.49%, #5f359f 100%) !important;
    }

    &--promo-code-ribbon {
        font-size: 11px;
        line-height: 20px;
        color: #000;
        width: calc(100% + 50px);
        padding: 14px;
        margin-left: -25px;
        margin-right: -25px;
        margin-top: 40px;
        text-align: center;
        font-weight: 400;
        border: 1px dashed #8AB8DE;

        span {
            font-weight: 500;
            text-decoration: underline;
        }
    }

    &--offer-slider {
        padding-top: 15px;
        height: auto;
        padding-bottom: 30px;

        &--wrapper {
            width: calc(100% + 50px);
            margin-left: -25px;
            margin-right: -25px;
            padding-left: 25px;
            box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.05);
        }
    }

    .offer-slide {
        padding: 20px;
        border-radius: 5px;
        background: #EFF0FF;
        width: 90%;

        &--title {
            font-size: 12px;
            line-height: 23px;
            color: $color_grey;
        }

        &--name {
            font-size: 14px;
            line-height: 23px;
            color: $color_black;
            margin-top: 0;
            margin-bottom: 15px;
        }

        &--discounted-price {
            font-size: 12px;
            line-height: 23px;
            font-weight: 500;
        }

        &--original-price {
            font-size: 12px;
            line-height: 23px;
            margin-right: 10px;
            font-weight: 500;
            text-decoration: line-through;
        }

        &--save-percentage {
            font-size: 12px;
            line-height: 23px;
            color: $color_grey;
            font-weight: 400;
        }

        &--add-now-button {
            font-size: 11px;
            line-height: 20px;
            background: $color_white;
            color: $color_black;
            padding: 10px 12px;
            padding-bottom: 8px;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
        }

        .col-4 {
            text-align: right;
        }
    }

    .swiper-pagination-bullets {
        bottom: 0;
        left: -12px;
    }
}