.product-features-carousel1-wrap {
    padding-top: 70px;
    padding-bottom: 60px;
    @include media-lg-min {
        & > .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
    }
    .swiper-container {
        height: auto;
    }
}

.product-features-carousel1 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    overflow: hidden;
    @include media-lg-min {
        padding-bottom: 60px;
    }
    & .swiper-slide {
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.08);
        @include media-lg-min {
            width: 65%;
        }
    }
    & .swiper-pagination-bullets{
        bottom: 0px;
        @include media-lg-min {
            bottom: 15px;
        }
    }

    & .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        background: #3D36B2;
        opacity: 0.14;
        &.swiper-pagination-bullet-active{
            opacity: 1;
        }
    }

    .swiper-button-prev {
        left: unset;
        right: 150px;
        bottom: 0;
        top: unset;
        margin-top: 0px;
        width: 50px;
        height: 50px;
        background: url(#{$img_url}product-features-carousel-block1/prev-button.png) center center no-repeat;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.5;
        }
    }
    .swiper-button-next {
        left: unset;
        right: 100px;
        bottom: 0;
        top: unset;
        margin-top: 0px;
        width: 50px;
        height: 50px;
        background: url(#{$img_url}product-features-carousel-block1/next-button.png) center center no-repeat;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.5;
        }
    }

    &--content-block {
        padding: 25px;
        background: $color_white;
        display: flex;
        @include media-lg-min {
            position: absolute;
            left: 55px;
            bottom: 55px;
            border-radius: 5px;
            -webkit-box-shadow: 3px 1px 34px -15px rgba(0,0,0,0.5);
            -moz-box-shadow: 3px 1px 34px -15px rgba(0,0,0,0.5);
            box-shadow: 3px 1px 34px -15px rgba(0,0,0,0.5);
        }
        &__icon {
            width: 20%;
            display: inline-block;
        }

        &__text {
            width: 80%;
            padding-left: 10px;
            display: inline-block;
            & .title {
                font-size: 14px;
                line-height: 17px;
                color: $color_black;
            }

            & .description {
                font-size: 12px;
                line-height: 17px;
                color: $color_black;
                margin-top: 10px;
            }
        }
    }
}