.review-block {
    padding: 45px 0;
    background: $color_lightblue;
    position: relative;

    @include media-lg-min {
        background: transparent;

        &:after {
            content: '';
            position: absolute;
            width: 90%;
            height: 100%;
            left: 5%;
            top: 0%;
            z-index: -1;
            background: $color_lightblue;
        }
    }

    &--value {
        @include media-lg-min {
            display: inline-block;
        }

        &--points p {
            font-size: 37px;
            line-height: 37px;
            font-weight: 600;
            color: $color_black;
        }

        &--review-star {
            padding-top: 5px;

            &--stars {
                font-size: 17px;
                color: $color_yellow;
            }

            &--total-reviews {
                font-size: 12px;
                line-height: 19px;
                font-weight: 400;
                color: $color_black;
                padding-left: 10px;
            }

            &--write-review-desk {
                display: none;
            }

            &--write-review-desk a {
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
                color: $color_main;
                padding-top: 20px;
                position: relative;

                &:after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: $color_main;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }

    &--text {
        h3 {
            font-size: 28px;
            line-height: 34px;
            font-weight: 500;
            color: $color_main;
            padding-top: 35px;
            padding-bottom: 15px;
            font-family: $title_font;
        }

        p {
            font-size: 12px;
            line-height: 21px;
            font-weight: 400;
            color: $color_black;
            width: 90%;
            margin-left: 5%;
        }
    }

    &--write-review-mob a {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: $color_main;
        padding-top: 20px;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: $color_main;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &--slider {
        margin-top: 35px;
        padding-bottom: 10px;

        @include media-lg-min {
            padding-bottom: 80px;

            .swiper-button-prev {
                left: unset;
                right: 150px;
                bottom: 0;
                top: unset;
                margin-top: 0px;
                width: 50px;
                height: 50px;
                background: url(#{$img_url}reveiw-block/prev-button.png) center center no-repeat;
                transition: all 0.3s ease;

                &:hover {
                    opacity: 0.5;
                }
            }

            .swiper-button-next {
                left: unset;
                right: 100px;
                bottom: 0;
                top: unset;
                margin-top: 0px;
                width: 50px;
                height: 50px;
                background: url(#{$img_url}reveiw-block/next-button.png) center center no-repeat;
                transition: all 0.3s ease;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .swiper-slide {
            width: 80%;
            display: flex;
            height: auto;

            @include media-lg-min {
                width: 38%;
            }
        }

        &--each {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
            background: $color_white;
            padding: 40px;
            border-radius: 6px;

            &--name {
                h3 {
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 600;
                    color: $color_black;

                    @include media-lg-min {
                        padding-top: 30px;
                    }
                }
            }

            &--rating {
                svg {
                    font-size: 12px;
                    color: $color_yellow;
                }
            }

            &--desc {
                padding-top: 35px;

                @include media-lg-min {
                    padding-top: 15px;
                }

                p {
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $color_black;
                }
            }

            &--video-block {
                width: calc(100% + 80px);
                margin-left: -40px;
                margin-right: -40px;
                padding-top: 25px;
                margin-bottom: -20px;

                @include media-lg-min {
                    margin-bottom: 0
                }

                video {
                    width: 100%;
                }
            }
        }
    }

    .button-block {
        margin-top: 30px;

        @include media-lg-min {
            display: inline-block;
            margin-top: 0;
            position: relative;
            z-index: 1;
            transform: translateY(-45px);

            a {
                color: $color_main;
            }
        }
    }
}