.single-product-specifications-block{
    background: #8AB8DE;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0px 3px 40px rgba(0,0,0,0.05);
    @include media-lg-min {
        background: $color_white;
        padding-top: 50px 30px;
        -webkit-box-shadow: 2px 1px 22px -15px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 1px 22px -15px rgba(0,0,0,0.2);
        box-shadow: 2px 1px 22px -15px rgba(0,0,0,0.2);
    }
    &--title{
        font-size: 14px;
        line-height: 21px;
        color: $color_black;
        padding: 8px 25px;
        border-radius: 20px;
        background: #F2F2F2;
        display: inline-block;
        @include media-lg-min {
            font-size: 40px;
            line-height: 40px;
            color: $color_main;
            display: block;
            text-align: center;
            background: $color_white;
        }
    }
}
.single-product-specifications-each{
    padding: 28px 0;
    border-bottom: 1px solid $color_white;
    &:last-child{
        border-bottom: none; 
        padding-bottom: 5px;
    }
    &--content{
        padding-left: 40px;
        position: relative;
        &__title {
            font-size: 16px;
            line-height: 12px;
            color: $color_white;
            font-weight: 500;
        }
        &__description {
            font-size: 13px;
            line-height: 10px;
            color: $color_white;
            margin-top: 10px;
        }
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0px;
            width: 20px;
            height: 16px;
            background: url(#{$img_url}single-product-specifications-block/plus-icon.svg) center center no-repeat;
            transform-origin: center;
            transform: rotate(0deg);
            transition: all 0.2s ease;
        }
    }
    
}

.single-product-specification-tab {
    &--clicker {
        &--wrap {
            display:inline-block;
            span {
                padding: 30px;
                font-size: 16px;
                line-height: 16px;
                float: left;
                color: $color_black;
                opacity: 0.5;
                cursor: pointer;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                &.active {
                    opacity: 1;
                    border-bottom: 1px solid #D3D4E5; 
                }
            }
        }
        
    }
    &--desc {
        &--each {
            padding: 0 50px;
            padding-top: 70px;
            padding-bottom: 50px; 
            display: none;
            &--content {
                padding-right: 30px;
                p {
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 500;
                }
            }
        }
    }
}