// urls
$img_url:"../../images/";
$font_url: "../../fonts/";
// :::::: fonts ::::::
$title_font:'EB Garamond',
sans-serif; // your main font
$body_font:'Nunito Sans',
sans-serif; // spl font poppins


// :::::: colors ::::::
$color_white : #ffffff;
$color_lightergrey : #E2E2E2;
$color_lightgrey: #818181;
$color_black: #000000;
$color_main :#30296f;
$color_main2:#5f359f;
$color_lightblue: #f2f5f8;
$color_grey: #818181;
$color_yellow :#F3D26A;
$color_green: #24AD73;
$color_skyblue: #8AB8DE;


// additional colors



// border colors


// :::::: font-colors ::::::


// transition time and function vals
$anim-drt: 0.4s;
$anim-ease: cubic-bezier(.6, .05, .15, .95);