.login{
    &--heading{
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
        font-family: $title_font;
        margin-bottom: 30px;
        color: $color_main;
    }
    &--signin-button{
        font-size: 14px !important;
    }
    &--signin-otp{
        line-height: 45px;
        margin: 25px 0 10px;
        color: $color_grey;
        font-size: 14px;
        a{
            color:$color_main;
            text-decoration: underline;

        }
    }
    &--associated-links{
        margin: 0 0 30px 0;
        color: $color_grey;
        a{
            color:$color_main;
            text-decoration: underline;
        }

    }

}
.login-social{
    background: #F7F7F7; /*$color_lightest_grey*/
    padding:45px 0;
    &--button{
        color: $color_black;
        background: #fff;
        border-radius: 30px;
        width:148px;
        box-shadow: 0px 10px 10px -12px rgba(0,0,0,0.33);
        padding: 6px 0;
        text-transform: uppercase;
        font-size: 14px;
        text-align: left;
       

        span{
            margin: 0 5px 0 8px;
        }
    }
    .more-options{
        padding-bottom: 30px;
    }
}
.login-with-otp{
    &--request-otp{
        background: #fff;
        border-radius: 0 4px 4px 0;
        position:absolute;
        right: 2px;
        top: 1px;
        padding:0 15px;
        font-size: 12px;
        line-height: 50px;
        border-left:1px solid #000;
        display: inline-block;
    }
}
.create-account-form{
    &--half-field{
        width:48%;
        display:inline-block;
        &:last-child{
            left:2.5%;
        }

    }
}